.theme-dark {
    --bg: #0e0e14;
    --hover: #1e1e27;
    --card: #1c1c28;
    --text: #ffffff;
    --accent: #5865f2;
    --social: #ffffff;
    --profile: rgba(255, 255, 255, 0.08);
}

.theme-light {
    --bg: #f5f5f5;
    --hover: #a8a8a8;
    --card: #ffffff;
    --text: #111;
    --accent: #0077ff;
    --social: #000000;
    --profile: rgba(0, 0, 0, 0.08);
}

.theme-neon {
    --bg: #0a0a0f;
    --hover: #191929;
    --card: #111133;
    --text: #00ffff;
    --accent: #1f51ff;
    --social: #ffffff;
    --profile: #00ffff1c;
}